<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listservers</servlet-name>
        <servlet-class>Controller.ListInstanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initialpageservlet</servlet-name>
        <servlet-class>Controller.InitialPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IntializationServlet</servlet-name>
        <servlet-class>Controller.InitializationServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PreviousPage</servlet-name>
        <servlet-class>Controller.PreviousPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextPage</servlet-name>
        <servlet-class>Controller.NextPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> getValueForAKey</servlet-name>
        <servlet-class>Controller.GetValueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitorStartAndStop</servlet-name>
        <servlet-class>Controller.MonitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInstance</servlet-name>
        <servlet-class>Controller.AddInstanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInstance</servlet-name>
        <servlet-class>Controller.DeleteInstanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddKeys</servlet-name>
        <servlet-class>Controller.AddKeyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteKeys</servlet-name>
        <servlet-class>Controller.DeleteKeyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditKeys</servlet-name>
        <servlet-class>Controller.EditKeyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchKeys</servlet-name>
        <servlet-class>Controller.SearchKeyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPageList</servlet-name>
        <servlet-class>Controller.ResetInstanceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/view/Log.in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listservers</servlet-name>
        <url-pattern>/view/RedisApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initialpageservlet</servlet-name>
        <url-pattern>/view/RedisApplication2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousPage</servlet-name>
        <url-pattern>/view/Previous</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextPage</servlet-name>
        <url-pattern>/view/Next</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInstance</servlet-name>
        <url-pattern>/view/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInstance</servlet-name>
        <url-pattern>/view/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddKeys</servlet-name>
        <url-pattern>/view/AddKey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteKeys</servlet-name>
        <url-pattern>/view/DeleteKey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditKeys</servlet-name>
        <url-pattern>/view/EditKey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchKeys</servlet-name>
        <url-pattern>/view/SearchKey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getValueForAKey</servlet-name>
        <url-pattern>/view/getValueForAKey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitorStartAndStop</servlet-name>
        <url-pattern>/view/monitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IntializationServlet</servlet-name>
        <url-pattern>/view/init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPageList</servlet-name>
        <url-pattern>/view/resetPageList</url-pattern>
    </servlet-mapping>
</web-app>